.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
 
@media (min-width: 40rem) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
 
@media (min-width: 64rem) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}