/* mobile */
.section-sm {
  padding-bottom: 3rem;
  padding-top: 3rem;
}
 
/* tablet */
@media (min-width: 40rem) {
  .section {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}
 
/* pc */
@media (min-width: 64rem) {
  .section {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}