/* mobile */
.section {
  display: flex;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
 
/* tablet */
@media (min-width: 40rem) {
  .section {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
 
/* pc */
@media (min-width: 64rem) {
  .section {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}