body {
  font-family: var(--family-text);
  font-size: 1rem;
  line-height: 1.5rem;
 
  color: var(--foreground);
  background-color: var(--background);
}
 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--family-heading);
}
 
code {
  font-family: var(--family-monospace);
}
 
em {
  font-family: var(--family-emphasis);
}