.category {
  flex: 1;
  max-width: 24rem;
  max-height: 30rem;
}

.category__image {
  border-radius: 0.75rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.category__image img {
  width: 100%;
  aspect-ratio: 1 / 1; /* para que ocupe el mismo largo y ancho */
  object-fit: cover;
}

.category__title {
  color: var(--black);
  font-weight: 600;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.category:hover .category__title {
  text-decoration: underline;
}

.category__description {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--muted-foreground);
}

@media (min-width: 40rem) {
  .category__image img {
    aspect-ratio: 4 / 5;
  }
}
