/* .categories {
  display: flex;
} */

.categories__intro{
  margin-bottom: 2.5rem;
}

.categories__title {
  color: var(--foreground);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.categories__description {
  color: var(--muted-foreground);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
