.quality {
  flex: 1;
  background-color: var(--muted-background);
  display: flex;
}

.quality__title {
  color: var(--foreground);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
  line-height: 2rem;
  text-align: center;
}

