/* elementos del contenedor promise*/
.quality__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  /* max-width: 21.4375rem;
  max-height: 11rem; */
  /* min-width: 13rem; */
}

.quality__card__icon {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}

.quality__card__icon img {
  /* width: 100%; */
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.quality__card__title {
  color: var(--foreground);
  font-weight: 500;
  margin-bottom: 0.5rem;
  text-align: center;
}

.quality__card__description {
  color: var(--muted-foreground);
  font-weight: 400;
  /* margin-bottom: 2rem; */
  text-align: center;
}

@media (min-width: 40rem) {
  .quality__card {
    width: calc((100% - 2rem) / 2);
  }
}

@media (min-width: 64rem) {
  .quality__card {
    flex: 1;
  }
}
