/* contenedor */
.quality {
  /* flex: 1; */
  background-color: var(--muted-background);
  /* display: flex; */
}

.quality__title {
  color: var(--foreground);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
  line-height: 2rem;
  text-align: center;
}

.quality__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}

@media (min-width: 40rem) {
  .quality__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
