* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  color: aliceblue;
}

header {
  width: 1440px;
  height: 64px;
  border-bottom: 1px solid white;
}

.contenedor-cabecera,
.contenedor-footer {
  width: 1216px;
  height: 64px;
}

body {
  font-family: FuenteInter, Arial, sans-serif;
  letter-spacing: 0%;
}

main {
  width: 1440px;
  padding-top: 48px;
  padding-bottom: 48px;
}

#main-quienes-somos {
  height: 1236px;
}

#main-privacidad {
  height: 2512px;
}

#main-terminos {
  height: 2540px;
}

@font-face {
  font-family: "FuenteInter";
  src: url("full-stack/fonts/Inter-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

p,
li,
.formato-cabecera {
  line-height: 28px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0%;
}

.contenedor-main {
  width: 768px;
  height: 1140px;
  max-width: 768px;
  padding-left: 32px;
  padding-right: 32px;
  border-bottom: 1px;
  margin: auto;
}

/* p,
li {
  width: 704px;
} */

ul {
  width: 704px;
  height: 248px;
  padding-left: 26px;
}

li {
  width: 672px;
  height: 56px;
  padding-left: 6px;
}

footer {
  width: 1440px;
  height: 64px;
  border-top: 1px solid white;
}

#header,
#footer {
  width: 1280px;
  height: 64px;
  max-width: 1280px;
  padding-left: 32px;
  padding-right: 32px;
}

/* .subtitulo,
#titulo-principal {
  font-size: 24px;
  line-height: 32px;
} */

.subtitulo {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  width: 704px;
  height: 32px;
  letter-spacing: 0;
}

.titulo-principal {
  font-weight: 800;
  width: 704px;
  height: 40px;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0;
  margin-bottom: 32px;
}

.article-quienes-somos {
  width: 704px;
  height: 164px;
}

.seccion1-quienes-somos {
  width: 704px;
  height: 320px;
}

.seccion2-quienes-somos {
  width: 704px;
  height: 188px;
}

.seccion3-quienes-somos {
  width: 704px;
  height: 372px;
}

.seccion4-quienes-somos {
  width: 704px;
  height: 56px;
}

.article-privacidad {
  width: 704px;
  height: 232px;
}

.seccion1-privacidad {
  width: 704px;
  height: 244px;
}

.seccion2-privacidad {
  width: 704px;
  height: 356px;
}

.seccion3-privacidad {
  width: 704px;
  height: 364px;
}

.seccion4-privacidad {
  width: 704px;
  height: 216px;
}

.seccion5-privacidad {
  width: 704px;
  height: 188px;
}

.seccion6-privacidad {
  width: 704px;
  height: 392px;
}

.seccion7-privacidad {
  width: 704px;
  height: 188px;
}

.seccion8-privacidad {
  width: 704px;
  height: 236px;
}

.article-terminos {
  width: 704px;
  height: 224px;
}

.seccion1-terminos {
  width: 704px;
  height: 188px;
}

.seccion2-terminos {
  width: 704px;
  height: 308px;
}

.seccion3-terminos {
  width: 704px;
  height: 344px;
}

.seccion4-terminos {
  width: 704px;
  height: 344px;
}

.seccion5-terminos {
  width: 704px;
  height: 288px;
}

.seccion6-terminos {
  width: 704px;
  height: 260px;
}

.seccion7-terminos {
  width: 704px;
  height: 188px;
}

.seccion8-terminos {
  width: 704px;
  height: 188px;
}

.seccion9-terminos {
  width: 704px;
  height: 112px;
}
