* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 1440px;
  height: 64px;
  border-bottom: 1px solid black;
}

main {
  width: 1440px;
  height: 1268px;
  padding-top: 64px;
  padding-bottom: 64px;
}

@font-face {
  font-family: "FuenteInter";
  src: url("full-stack/fonts/Inter-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: FuenteInter, Arial, sans-serif;
  letter-spacing: 0%;
}

p,
li {
  line-height: 28px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0%;
  width: 704px;
}

ul {
  width: 704px;
  height: 248px;
  padding-left: 26px;
}

li {
  width: 672px;
  height: 56px;
  padding-left: 6px;
}

footer {
  width: 1440px;
  height: 64px;
  border-top: 1px solid black;
}

.cabecera,
.pie-pagina {
  width: 1280px;
  height: 64px;
  max-width: 1280px;
  padding-left: 32px;
  padding-right: 32px;
}

.contenedor-cabecera,
.contenedor-footer {
  width: 1216px;
  height: 64px;
}
.contenedor {
  width: 768px;
  height: 1140px;
  max-width: 768px;
  padding-left: 32px;
  padding-right: 32px;
  border-bottom: 1px;
  margin: auto;
}

.subtitulo,
#titulo-principal {
  font-size: 24px;
  line-height: 32px;
}

.subtitulo {
  font-weight: 700;
}

#titulo-principal {
  font-weight: 800;
  width: 704px;
  height: 40px;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0%;
  margin-bottom: 32px;
}

#parrafo-bienvenida {
  height: 84px;
  margin-bottom: 48px;
}

#parrafo-historia-p1 {
  height: 112px;
  margin-top: 24px;
}

#parrafo-historia-p2 {
  height: 84px;
  margin-bottom: 28px;
}

#parrafo-mision {
  height: 84px;
  margin-bottom: 48px;
  margin-top: 24px;
}

#parrafo-valores {
  height: 28px;
  margin-bottom: 20px;
  margin-top: 24px;
}

#parrafo-agradecimiento {
  height: 56px;
}
